.audio-upload__file
	display none !important
.audio-test
	display none
.audio-test__audio
	paddint 10px
	font-size 1.4em
.progress-audio
	height 4px
	width 100%
	float right
	position relative
	background-color #999
	padding 0
.bar-audio
	margin 0
	height 100%
	position absolute
	background-color #2ECC71
.audio-test__audio
	width 200px
.audio-test__control
	float left
.audio-test__duration
	float right
.audio-test__current-time
	position absolute
	bottom 150%
	background-color #2ECC71
	color white
	font-size 0.5em
	display none
	opacity .7
	padding 3px