.link-vk
	color #507299
.link-ok
	color #EE8208
.link-twitter
	color #66AFE4
.link-google
	color #DC4A38
.link-facebook 
	color #475993
body
	background-image url('../images/background-main.jpg')
.share
	color white
	font-size 1.4em
.info
	color white
	background-color black
	opacity .7
.auth
	background-color white
	padding 20px
	border-radius 10px
.btn-log
	background-color lighten(purple,10)
	border 1px solid darken(purple, 10)
	&:hover
		background-color darken(purple,5)
		border 1px solid darken(purple, 15)