body
	background-color #EDEEF0
.content
	border-radius 10px
	&__welcome
		font-size 19px
	&__wrench
		float right
	background-color white
	padding 15px
	& ul
		list-style none
		font-size 15px
		line-height 30px
		& input
			height 20px
			float right
			display block
			margin-right 50%
			opacity .7
			border-radius 10px
			padding 7px
			&:focus
				border none
		
		
@media (max-width: 768px)
	.content
		margin 0 15px 0 15px

