<header class="navbar navbar-default navbar-static-top main">
	<div class="container">
		<nav class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
             <i class="fa fa-bars"></i>
           </button>
			<span class="navbar-brand">Club Records</span>
		</nav>
		<aside class="navbar-collapse collapse main-menu" id="responsive-menu">
		<ul class="nav navbar-nav">
			<li class="profile">
			<a href="//<?=$_SERVER['HTTP_HOST'] ?>/profile"><i class="fa fa-home fa-fw"></i>Профиль</a>
			</li>
			<li class="player">
			<a href="//<?=$_SERVER['HTTP_HOST'] ?>/player"><i class="fa fa-headphones fa-fw"></i>Плеер</a>
			</li>
			<li class="audio">
			<a href="//<?=$_SERVER['HTTP_HOST'] ?>/audio"><i class="fa fa-music fa-fw"></i>Музыка</a>
			</li>
			<li class="settings">
			<a href="//<?=$_SERVER['HTTP_HOST'] ?>/settings"><i class="fa fa-wrench fa-fw"></i>Настройки</a>
			</li>
			<li>
			<a href="//<?=$_SERVER['HTTP_HOST'] ?>/exit.php"><i class="fa fa-power-off fa-fw"></i>Выход</a>
			</li>
		</ul>
	</aside>
	</div>
</header>