<section class="container content col-md-7 col-sm-10 col-md-offset-2">
<aside class="content__welcome">
<i class="fa fa-user fa-1x"></i> <?=$name ?></em>.
<aside class="content__wrench"><i class="fa fa-wrench"></i></aside>
</aside>
<hr>
<aside class="content__data">
	<ul>
	<li>
		<i class="fa fa-home fa-fw"></i> Место обитания: <input type="text">
	</li>
	<li>
		<i class="fa fa-child fa-fw"></i> Ваше имя: <input type="text" placeholder="<?=$name ?>">
	</li>
	<li>
		<i class="fa fa-envelope fa-fw"></i> Ваш email: <input type="text">
	</li>
	<li>
		<i class="fa fa-mobile fa-fw"></i> Ваш телефон: <input type="text">
	</li>
	<li>
		<i class="fa fa-birthday-cake fa-fw"></i> Дата рождения: <input type="text">
	</li>
	<li>
		<i class="fa fa-graduation-cap fa-fw"></i> Учебное заведениe: <input type="text">
	</li>
	<li>
		<i class="fa fa-university fa-fw"></i> Город: <input type="text">
	</li>
	<li>
		<i class="fa fa-headphones fa-fw"></i> Марка наушников: <input type="text">
	</li>
	<li>
		<i class="fa fa-star fa-fw"></i> Любимый стиль: <input type="text">
	</li>
	</ul>
	<button class="btn btn-primary">Сохранить</button>
</aside>
</section>