.navbar-brand{
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
}
body{
	font-family: 'Cuprum', sans-serif;
}
.mar-top{
	margin-top: 5px;
}
label{
	font-weight: 800;
}
@media (min-width: 768px){
	.main-menu{
		float:  right;
	}
}